In [1]:
!pip show evidently

Name: evidently
Version: 0.4.25
Summary: Open-source tools to analyze, monitor, and debug machine learning model in production.
Home-page: https://github.com/evidentlyai/evidently
Author: Emeli Dral
Author-email: emeli.dral@gmail.com
License: UNKNOWN
Location: /Users/maudg1/anaconda3/envs/scoring/lib/python3.9/site-packages
Requires: certifi, dynaconf, fsspec, iterative-telemetry, litestar, nltk, numpy, pandas, plotly, pydantic, PyYAML, requests, rich, scikit-learn, scipy, statsmodels, typer, typing-inspect, ujson, urllib3, uvicorn, watchdog
Required-by:

In [2]:
import sys
print(sys.executable)

/Users/maudg1/anaconda3/envs/scoring/bin/python

# Import

In [3]:
import pandas as pd 
import evidently

In [4]:
from evidently.report import Report
from evidently.metric_preset import DataDriftPreset

#

In [5]:
df_train = pd.read_csv('credit_files/application_train.csv')
df_test = pd.read_csv('credit_files/application_test.csv')

In [6]:
train_drift = df_train[["EXT_SOURCE_3", "EXT_SOURCE_2", "CODE_GENDER", "FLAG_DOCUMENT_3",
"AMT_REQ_CREDIT_BUREAU_HOUR", "REGION_RATING_CLIENT", "EXT_SOURCE_1"]]

test_drift = df_test[["EXT_SOURCE_3", "EXT_SOURCE_2", "CODE_GENDER", "FLAG_DOCUMENT_3",
"AMT_REQ_CREDIT_BUREAU_HOUR", "REGION_RATING_CLIENT", "EXT_SOURCE_1"]]

In [7]:
train_drift

,EXT_SOURCE_3,EXT_SOURCE_2,CODE_GENDER,FLAG_DOCUMENT_3,AMT_REQ_CREDIT_BUREAU_HOUR,REGION_RATING_CLIENT,EXT_SOURCE_1,FLAG_EMP_PHONE
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,0.622246,F,1.0,0.0,1.0,0.311267,1.0
2,0.729567,0.555912,M,0.0,0.0,2.0,NaN,1.0
3,NaN,0.650442,F,1.0,NaN,2.0,NaN,1.0
4,NaN,0.322738,M,0.0,0.0,2.0,NaN,1.0
...,...,...,...,...,...,...,...,...
7994,0.581484,0.625002,F,1.0,0.0,2.0,0.614858,1.0
7995,0.504681,0.078597,M,0.0,0.0,2.0,NaN,1.0
7996,0.227613,0.569444,F,1.0,0.0,2.0,NaN,1.0
7997,0.397946,0.501046,F,1.0,0.0,2.0,NaN,1.0
7998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
train_drift.describe()

,EXT_SOURCE_3,EXT_SOURCE_2,FLAG_DOCUMENT_3,AMT_REQ_CREDIT_BUREAU_HOUR,REGION_RATING_CLIENT,EXT_SOURCE_1,FLAG_EMP_PHONE
count,4901.000000,6087.000000,6103.000000,5273.000000,6103.000000,2662.000000,6103.000000
mean,0.512562,0.511014,0.704080,0.006638,2.058824,0.501404,0.819105
std,0.196539,0.190640,0.456493,0.083511,0.514280,0.211116,0.384962
min,0.000527,0.000074,0.000000,0.000000,1.000000,0.024417,0.000000
25%,0.375711,0.387923,0.000000,0.000000,2.000000,0.329099,1.000000
50%,0.537070,0.562181,1.000000,0.000000,2.000000,0.505517,1.000000
75%,0.670652,0.660983,1.000000,0.000000,2.000000,0.672151,1.000000
max,0.882530,0.855000,1.000000,2.000000,3.000000,0.926892,1.000000

In [9]:
report = Report(metrics=[DataDriftPreset()])
report.run(reference_data=train_drift, current_data=test_drift)
report.save_html("data_drift_report.html")